@{
    ViewData["Title"] = "Home Page";
}

<div class="row pb-3">
    <div class="col-3">
        <vc:region selected-value=""></vc:region>
    </div>
    <div class="col-sm">
        <button type="button" id="btnReport" disabled class="btn btn-primary">Report</button>
        <button type="button" id="btnReset" disabled class="btn btn-primary">Reset</button>
    </div>
    <div class="col-sm"></div>
    <div class="col-sm text-right"> 
        <div class="btn-group" role="group">
            <form id="frmExportXML" asp-action="ExportXMLByRegion" asp-controller="Home" method="post">
                <button type="submit" class="btn btn-secondary mr-1">XML</button>
            </form>
            <form id="frmExportJSON" asp-action="ExportJSONByRegion" asp-controller="Home" method="post">
                <button type="submit" class="btn btn-secondary mr-1">JSON</button>
            </form>
            <form id="frmExportCSV" asp-action="ExportCSVByRegion" asp-controller="Home" method="post">
                <button type="submit" class="btn btn-secondary">CSV</button>
            </form>
        </div>
    </div>
</div>
<div id="table-container"></div>
@section Scripts{
    <script type="text/javascript">
        var loadGridUrl = '@Url.Action("LoadGridByRegion", "Home")';
        var loadGridByRegionUrl = '@Url.Action("LoadGridByProvince", "Home")';
    </script>
}